(
    lane_count: 4,
    song: BeatmapSong(
        path: "songs/stop_breathing.ogg",
        bpm: 172,
        //offset: 670,
        //offset: 350,
        offset: 1700,
    ),
    notes: [
        // measure 1
        (beat: 0.0, lane: 1),
        (beat: 0.5, lane: 2),
        (beat: 0.5, lane: 3),
        (beat: 1.0, lane: 2),
        (beat: 1.0, lane: 3),
        (beat: 1.5, lane: 2),
        (beat: 1.5, lane: 3),
        (beat: 2.0, lane: 2),
        (beat: 2.0, lane: 3),
        (beat: 2.5, lane: 2),
        (beat: 2.5, lane: 3),
        (beat: 3.0, lane: 2),
        (beat: 3.0, lane: 3),
        // measure 2
        (beat: 4.5, lane: 1),
        (beat: 5.0, lane: 2),
        (beat: 5.0, lane: 3),
        (beat: 5.5, lane: 2),
        (beat: 5.5, lane: 3),
        (beat: 6.0, lane: 2),
        (beat: 6.0, lane: 3),
        (beat: 6.5, lane: 2),
        (beat: 6.5, lane: 3),
        (beat: 7.0, lane: 2),
        (beat: 7.0, lane: 3),
        // measure 3
        (beat: 8.5, lane: 1),
        (beat: 9.0, lane: 2),
        (beat: 9.0, lane: 3),
        (beat: 9.5, lane: 2),
        (beat: 9.5, lane: 3),
        (beat: 10.0, lane: 2),
        (beat: 10.0, lane: 3),
        (beat: 10.5, lane: 2),
        (beat: 10.5, lane: 3),
        (beat: 11.0, lane: 2),
        (beat: 11.0, lane: 3),
        (beat: 11.5, lane: 2),
        (beat: 11.5, lane: 3),
        // measure 4
        (beat: 12.0, end_beat: Some(15.5), lane: 2),
        (beat: 12.0, end_beat: Some(15.5), lane: 3),
        (beat: 12.5, lane: 0),
        (beat: 13.0, lane: 0),
        (beat: 13.5, lane: 1),
        (beat: 14.0, lane: 0),
        (beat: 14.5, lane: 1),
        (beat: 15.0, lane: 0),
        // and loop again
        // measure 1
        (beat: 16.0, lane: 1),
        (beat: 16.5, lane: 2),
        (beat: 16.5, lane: 3),
        (beat: 17.0, lane: 2),
        (beat: 17.0, lane: 3),
        (beat: 17.5, lane: 2),
        (beat: 17.5, lane: 3),
        (beat: 18.0, lane: 2),
        (beat: 18.0, lane: 3),
        (beat: 18.5, lane: 2),
        (beat: 18.5, lane: 3),
        (beat: 19.0, lane: 2),
        (beat: 19.0, lane: 3),
        // measure 2
        (beat: 20.5, lane: 1),
        (beat: 21.0, lane: 2),
        (beat: 21.0, lane: 3),
        (beat: 21.5, lane: 2),
        (beat: 21.5, lane: 3),
        (beat: 22.0, lane: 2),
        (beat: 22.0, lane: 3),
        (beat: 22.5, lane: 2),
        (beat: 22.5, lane: 3),
        (beat: 23.0, lane: 2),
        (beat: 23.0, lane: 3),
        // measure 3
        (beat: 24.5, lane: 1),
        (beat: 25.0, lane: 2),
        (beat: 25.0, lane: 3),
        (beat: 25.5, lane: 2),
        (beat: 25.5, lane: 3),
        (beat: 26.0, lane: 2),
        (beat: 26.0, lane: 3),
        (beat: 26.5, lane: 2),
        (beat: 26.5, lane: 3),
        (beat: 27.0, lane: 2),
        (beat: 27.0, lane: 3),
        (beat: 27.5, lane: 2),
        (beat: 27.5, lane: 3),
        // measure 4
        (beat: 28.0, end_beat: Some(31.5), lane: 2),
        (beat: 28.0, end_beat: Some(31.5), lane: 3),
        (beat: 28.5, lane: 0),
        (beat: 29.0, lane: 0),
        (beat: 29.5, lane: 1),
        (beat: 30.0, lane: 0),
        (beat: 30.5, lane: 1),
        (beat: 31.0, lane: 0),
        // measure 1 swings
        (beat: 32.0, end_beat: Some(33.0), lane: 3),
        (beat: 33.0, lane: 2),
        (beat: 34.0, end_beat: Some(37.0), lane: 0),
        (beat: 35.0, lane: 1),
        (beat: 36.0, lane: 1),
        (beat: 38.0, lane: 2),
        (beat: 38.0, lane: 3),
        (beat: 39.0, lane: 2),
        (beat: 39.0, lane: 3),
        // swings atgain
        (beat: 40.0, end_beat: Some(41.0), lane: 3),
        (beat: 41.0, lane: 2),
        (beat: 42.0, end_beat: Some(44.0), lane: 0),
        (beat: 43.0, lane: 1),
        (beat: 44.0, lane: 1),
        (beat: 45.0, lane: 0),
        (beat: 45.0, lane: 3),
        (beat: 46.0, lane: 2),
        (beat: 46.0, lane: 3),
        (beat: 47.0, lane: 0),
        (beat: 47.0, lane: 3),
        // more measure 1 swings
        (beat: 48.0, end_beat: Some(49.0), lane: 3),
        (beat: 49.0, lane: 2),
        (beat: 50.0, end_beat: Some(53.0), lane: 0),
        (beat: 51.0, lane: 1),
        (beat: 52.0, lane: 1),
        (beat: 55.0, lane: 3),
        (beat: 55.25, lane: 2),
        (beat: 55.5, lane: 3),
        (beat: 55.75, lane: 2),
        // swings atgain
        (beat: 56.0, end_beat: Some(57.0), lane: 3),
        (beat: 57.0, lane: 2),
        (beat: 58.0, end_beat: Some(60.0), lane: 0),
        (beat: 59.0, lane: 1),
        (beat: 60.0, lane: 1),
        (beat: 61.0, lane: 0),
        (beat: 61.0, lane: 3),
        (beat: 62.0, lane: 2),
        (beat: 62.0, lane: 3),
        (beat: 63.0, lane: 0),
        (beat: 63.0, lane: 3),
    ]
)
